apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ required "A value for identity.migrationRunner.name is required" .Values.identity.migrationRunner.name }}
  annotations:
    azure.workload.identity/client-id: {{ required "A value for identity.migrationRunner.clientId is required" .Values.identity.migrationRunner.clientId }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ .Values.identity.migrationRunner.name }}
rules:
  - apiGroups: ["discovery.k8s.io"]
    resources: ["endpointslices"]
    verbs: ["list", "get"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .Values.identity.migrationRunner.name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ .Values.identity.migrationRunner.name }}
subjects:
  - kind: ServiceAccount
    name: {{ .Values.identity.migrationRunner.name }}
---
{{- $suffix := randAlphaNum 4 | lower -}}
{{- $jobName := printf "%s-database-init-%s" .Release.Name $suffix -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ $jobName }}
spec:
  backoffLimit: 0
  ttlSecondsAfterFinished: 86400
  template:
    metadata:
      name: {{ $jobName }}
      labels:
        azure.workload.identity/use: "true"
    spec:
      restartPolicy: Never
      containers:
        - name: database-init
          image: "{{ .Values.image | default (printf "eminence.azurecr.io/tyger-server:%s" .Chart.AppVersion) }}"
          imagePullPolicy: {{ .Values.pullPolicy }}
          args:
            - database
            - init
          {{- if .Values.database.initialDatabaseVersion }}
            - --target-version
            - "{{ .Values.database.initialDatabaseVersion }}"
          {{- end }}
          env:
            - name: Logging__Console__FormatterName
              value: Tyger.ControlPlane.Logging.JsonFormatter
            - name: AZURE_CLIENT_ID
              value: {{ .Values.identity.migrationRunner.clientId }}
            - name: Database__ConnectionString
              value: "Host={{ .Values.database.host }}; Database={{ .Values.database.databaseName }}; Port={{ .Values.database.port }}; Username={{ .Values.identity.migrationRunner.name }}; SslMode=VerifyFull;"
            - name: Database__TygerServerRoleName
              value: {{ .Values.identity.tygerServer.name }}
            - name: Compute__Kubernetes__Namespace
              value: {{ .Release.Namespace }}
            - name: Compute__Kubernetes__JobServiceAccount
              value: {{ include "tyger.fullname" . }}-job

      serviceAccount: {{ .Values.identity.migrationRunner.name }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:fo
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
