{{- if not .Values.targetMigrationVersion  }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ required "A value for identity.tygerServer.name is required" .Values.identity.tygerServer.name }}
  annotations:
    azure.workload.identity/client-id: {{ required "A value for identity.tygerServer.clientId is required" .Values.identity.tygerServer.clientId }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "tyger.fullname" . }}-server
rules:
- apiGroups: [""]
  resources: ["pods", "pods/log", "services"]
  verbs: ["*"]
- apiGroups: ["apps"]
  resources: ["statefulsets"]
  verbs: ["*"]
- apiGroups: ["batch"]
  resources: ["jobs"]
  verbs: ["*"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["create", "delete", "deletecollection"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "tyger.fullname" . }}-server
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "tyger.fullname" . }}-server
subjects:
- kind: ServiceAccount
  name: {{ .Values.identity.tygerServer.name }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "tyger.fullname" . }}-job
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "tyger.fullname" . }}-job
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "tyger.fullname" . }}-job
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "tyger.fullname" . }}-job
subjects:
- kind: ServiceAccount
  name: {{ include "tyger.fullname" . }}-job
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "tyger.fullname" . }}-server
data:
  appsettings.json: |-
    {
      "kubernetes": {
        "clusters":
          {{ .Values.clusterConfigurationJson }}
      }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tyger.fullname" . }}-server
spec:
  selector:
    matchLabels:
      component: {{ include "tyger.fullname" . }}-server
  replicas: {{ .Values.replicas }}
  strategy:
    type: Recreate # For inner-loop local development. TODO: parameterize
  template:
    metadata:
      labels:
        component: {{ include "tyger.fullname" . }}-server
        azure.workload.identity/use: "true"
    spec:
      containers:
        - name: tyger
          image: {{ required "A value for image is required" .Values.image }}
          imagePullPolicy: {{ .Values.pullPolicy }}
          ports:
            - containerPort: 5000
          env:
            - name: ASPNETCORE_URLS
              value: http://+:5000
            - name: KeyPerFileDirectory
              value: /etc/secrets/
            - name: AppSettingsDirectory
              value: /etc/config/
            - name: Logging__Console__FormatterName
              value: Tyger.Server.Logging.JsonFormatter
            - name: AZURE_CLIENT_ID
              value: {{ .Values.identity.tygerServer.clientId }}
            - name: Auth__Enabled
              value: "{{ .Values.security.enabled }}"
          {{- if .Values.security.enabled }}
            - name: Auth__Authority
              value: {{ required "When security.enabled is true, a value for security.authority is required" .Values.security.authority }}
            - name: Auth__Audience
              value: {{ required "When security.enabled is true, a value for security.audience is required" .Values.security.audience }}
            - name: Auth__CliAppUri
              value: {{ required "When security.enabled is true, a value for security.cliAppUri is required" .Values.security.cliAppUri }}
          {{- end }}
            - name: Kubernetes__Namespace
              value: {{ .Release.Namespace }}
            - name: Kubernetes__JobServiceAccount
              value: {{ include "tyger.fullname" . }}-job
            - name: Kubernetes__NoOpConfigMap
              value: {{ include "tyger.fullname" . }}-no-op
            - name: Kubernetes__WorkerWaiterImage
              value: {{ required "A value for workerWaiterImage is required" .Values.workerWaiterImage }}
            - name: Database__ConnectionString
              value: "Host={{ .Values.database.host }}; Database={{ .Values.database.databaseName }}; Port={{ .Values.database.port }}; Username={{ .Values.identity.tygerServer.name }}; SslMode=VerifyFull;"
            - name: Database__TygerServerRoleName
              value: {{ .Values.identity.tygerServer.name }}
            - name: Database__AutoMigrate
              value: "{{ .Values.database.autoMigrate }}"
            {{- range $index, $element := .Values.buffers.storageAccounts }}
            - name: Buffers__StorageAccounts__{{ $index }}__name
              value: "{{ $element.name }}"
            - name: Buffers__StorageAccounts__{{ $index }}__location
              value: "{{ $element.location }}"
            - name: Buffers__StorageAccounts__{{ $index }}__endpoint
              value: "{{ $element.endpoint }}"
            {{- end }}
            - name: Buffers__BufferSidecarImage
              value: {{ required "A value for bufferSidecarImage is required" .Values.bufferSidecarImage }}
            - name: LogArchive__StorageAccountEndpoint
              value: {{ required "A value for logArchive.storageAccountEndpoint is required" .Values.logArchive.storageAccountEndpoint }}
          readinessProbe:
            httpGet:
              path: /healthcheck
              port: 5000
          livenessProbe:
            httpGet:
              path: /healthcheck
              port: 5000
          volumeMounts:
          - name: config
            mountPath: /etc/config
            readOnly: true

      serviceAccount: {{ .Values.identity.tygerServer.name }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:fo
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

      volumes:
      - name: config
        configMap:
          name: {{ include "tyger.fullname" . }}-server
---
kind: Service
apiVersion: v1
metadata:
  name: {{ include "tyger.fullname" . }}-server
spec:
  selector:
    component: {{ include "tyger.fullname" . }}-server
  ports:
    - name: tyger
      protocol: TCP
      port: 8080
      targetPort: 5000
---
{{- if .Values.tls.letsEncrypt.enabled }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ include "tyger.fullname" . }}-cert
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: {{ .Values.tls.letsEncrypt.email }}
    privateKeySecretRef:
      name: {{ include "tyger.fullname" . }}-cert
    solvers:
      - http01:
          ingress:
            class: traefik
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ .Values.hostname }}
spec:
  secretName: {{ .Values.hostname }}-tls
  issuerRef:
    name: {{ include "tyger.fullname" . }}-cert
    kind: Issuer
  dnsNames:
    - {{ .Values.hostname }}

---
{{- end }}
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: {{ include "tyger.fullname" . }}-server
  {{- if .Values.tls.letsEncrypt.enabled }}
  annotations:
    kubernetes.io/ingress.class: traefik
    cert-manager.io/issuer: {{ include "tyger.fullname" . }}-cert
  {{- end }}
spec:
  {{- if .Values.tls.enabled }}
  entryPoints:
    - websecure
  {{- if .Values.tls.letsEncrypt.enabled }}
  tls:
    secretName: {{ .Values.hostname }}-tls
    domains:
      - main: {{ .Values.hostname }}
  {{- else }}
  tls: {}
  {{- end }}
  {{- else }}
  entryPoints:
  - web
  {{- end }}
  routes:
  - kind: Rule
    match: Host(`{{ required "A value for hostname is required." .Values.hostname }}`)
    services:
    - name: {{ include "tyger.fullname" . }}-server
      port: 8080
{{ end }}
