kind: azureCloud
environmentName: ${TYGER_ENVIRONMENT_NAME}
cloud:
  tenantId: 72f988bf-86f1-41af-91ab-2d7cd011db47
  subscriptionId: 87d8acb3-5176-4651-b457-6ab9cefd8e3d
  defaultLocation: ${TYGER_LOCATION}
  resourceGroup: ${TYGER_ENVIRONMENT_NAME}
  logAnalyticsWorkspace:
    resourceGroup: eminence
    name: eminence

  dnsZone:
    resourceGroup: eminence
    name: eminence.ms

  tlsCertificate:
    keyVault:
      resourceGroup: eminence
      name: eminence
    certificateName: eminence-tls-cert

  compute:
    dnsLabel: ${TYGER_ENVIRONMENT_NAME}-tyger
    clusters:
      - name: ${TYGER_ENVIRONMENT_NAME}
        apiHost: true
        sku: Standard
        kubernetesVersion: "1.30"
        systemNodePool:
          name: system
          vmSize: ${TYGER_SYSTEM_NODE_SKU}
          minCount: 1
          maxCount: 3
        userNodePools:
          - name: cpunp
            vmSize: ${TYGER_CPU_NODE_SKU}
            minCount: ${TYGER_MIN_CPU_NODE_COUNT}
            maxCount: 10
          - name: gpunp
            vmSize: ${TYGER_GPU_NODE_SKU}
            minCount: ${TYGER_MIN_GPU_NODE_COUNT}
            maxCount: 10

    managementPrincipals:
      - objectId: 2e092785-472a-4ea1-9700-4d15646d9e91
        kind: ServicePrincipal
      - objectId: 36043a62-1383-4012-95aa-44da0a4d8012
        kind: Group

    localDevelopmentIdentityId: 36043a62-1383-4012-95aa-44da0a4d8012
    privateContainerRegistries:
      - eminence

  networkSecurityPerimeter:
    nspResourceGroup: NSP-ALL
    nspName: defaultNSP
    storageProfile:
      name: storageaccounts
      mode: Learning

  database:
    serverName: ${TYGER_ENVIRONMENT_NAME}-tyger
    location: ${TYGER_DATABASE_LOCATION}
    serverName: jostairstyger
    firewallRules: ${TYGER_ENVIRONMENT_FIREWALL_RULES}
    postgresMajorVersion: 16

organizations:
  - name: lamna
    cloud:
      storage:
        buffers:
          - name: ${TYGER_ENVIRONMENT_NAME_NO_DASHES}lamnabuf
          - name: ${TYGER_ENVIRONMENT_NAME_NO_DASHES}lamnabuf2
          - name: ${TYGER_ENVIRONMENT_NAME_NO_DASHES}lamnabuf3
            location: ${TYGER_SECONDARY_LOCATION}
        logs:
          name: ${TYGER_ENVIRONMENT_NAME_NO_DASHES}lamnalog

      identities:
        - test-identity
    api:
      domainName: lamna-${TYGER_ENVIRONMENT_NAME}.eminence.ms
      tlsCertificateProvider: KeyVault
      auth:
        tenantId: 76d3279b-830e-4bea-baf8-12863cdeba4c
        apiAppUri: api://tyger-server
        cliAppUri: api://tyger-cli
      buffers:
        activeLifetime: 0.00:00
        softDeletedLifetime: 1.00:00
      helm:
        tyger:
          chartRef: ${TYGER_HELM_CHART_DIR}
          values:
            image: ${TYGER_SERVER_IMAGE}
            bufferSidecarImage: ${BUFFER_SIDECAR_IMAGE}
            bufferCopierImage: ${BUFFER_COPIER_IMAGE}
            workerWaiterImage: ${WORKER_WAITER_IMAGE}

  - name: legacy
    singleOrganizationCompatibilityMode: true
    cloud:
      storage:
        buffers:
          - name: ${TYGER_ENVIRONMENT_NAME_NO_DASHES}legacybuf
        logs:
          name: ${TYGER_ENVIRONMENT_NAME_NO_DASHES}legacylog

      identities:
        - test-identity
    api:
      domainName: ${TYGER_ENVIRONMENT_NAME}-tyger.${TYGER_LOCATION}.cloudapp.azure.com
      tlsCertificateProvider: LetsEncrypt
      auth:
        tenantId: 76d3279b-830e-4bea-baf8-12863cdeba4c
        apiAppUri: api://tyger-server
        cliAppUri: api://tyger-cli
      buffers:
        activeLifetime: 0.00:00
        softDeletedLifetime: 1.00:00
      helm:
        tyger:
          chartRef: ${TYGER_HELM_CHART_DIR}
          values:
            image: ${TYGER_SERVER_IMAGE}
            bufferSidecarImage: ${BUFFER_SIDECAR_IMAGE}
            bufferCopierImage: ${BUFFER_COPIER_IMAGE}
            workerWaiterImage: ${WORKER_WAITER_IMAGE}
