# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vscode/settings.json

# build output directory
bin/

appsettings.local.json

[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

*.http

out*.h5
**/__pycache__/
**/.pytest_cache/
