nameOverride: ""
fullnameOverride: ""

targetMigrationVersion:

replicaCount: 1

image:
imagePullPolicy: IfNotPresent

identity:
  tygerServer:
    name:
    clientId:
  migrationRunner:
    name:
    clientId:

security:
  enabled: true
  authority:
  audience:
  cliAppUri:

hostname:
tls:
  enabled: true
  letsEncypt:
    enabled: true
    email:

database:
  host:
  databaseName: postgres
  port: 5432
  autoMigrate: false

buffers:
  storageAccounts: [] # {name: myaccount, location: westus2, endpoint: https://... }, ...

logArchive:
  storageAccountEndpoint:

bufferSidecarImage:
workerWaiterImage:

clusterConfigurationJson: "{}"

imagePullSecrets: []
podAnnotations: {}
nodeSelector: {}
tolerations: []
affinity: {}
podSecurityContext: {}
securityContext: {}
resources: {}
