nameOverride: ""
fullnameOverride: ""

replicaCount: 1

image:
imagePullPolicy: IfNotPresent

location:

identity:
  tygerServer:
    name:
    clientId:
    databaseRoleName:
  migrationRunner:
    name:
    clientId:
    databaseRoleName:

  custom: [] # { name: abc, clientId: 123 }, ...

accessControl:
  enabled: true
  authority:
  audience:
  apiAppUri:
  apiAppId:
  cliAppUri:
  cliAppId:

hostname:
tls:
  letsEncypt:
    enabled: true
    email:

database:
  host:
  databaseName:
  port: 5432
  autoMigrate: false
  initialDatabaseVersion:
  ownersRoleName:

buffers:
  storageAccounts: [] # {name: myaccount, location: westus2, endpoint: https://... }, ...
  activeLifetime:
  softDeletedLifetime:

logArchive:
  storageAccountEndpoint:

onlyMigrationDependencies: false

bufferSidecarImage:
bufferCopierImage:
workerWaiterImage:

containerRegistryProxy: ""

clusterConfiguration: "{}"

imagePullSecrets: []
podAnnotations: {}
nodeSelector: {}
tolerations: []
affinity: {}
podSecurityContext: {}
securityContext: {}
resources: {}
