nameOverride: ""
fullnameOverride: ""

server:
  replicaCount: 1

  image:
  imagePullPolicy: IfNotPresent

  security:
    enabled: true
    authority:
    audience:

  hostname:
  tlsEnabled: true

  storageAccountConnectionStringSecretName:
  storageAccountConnectionStringSecretDataKey: connectionString

  bufferSidecarImage:
  workerWaiterImage:

  logsStorageAccountConnectionStringSecretName:
  logsStorageAccountConnectionStringSecretDataKey: connectionString

  clusterConfigurationJson: "{}"

  imagePullSecrets: []
  podAnnotations: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  podSecurityContext: {}
  securityContext: {}
  resources: {}

db:
  usePasswordFile: true
  postgresqlDatabase: tyger
