name: Tyger-Delete-PR-Envs

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  pull-requests: read

jobs:
  delete-pr-envs:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Login into Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v4
        with:
          cache-dependency-path: cli/go.sum

      - name: "Delete PR Envs"
        run: |
          set -eo pipefail

          mapfile -t active_prs < <(curl -sS -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" "https://api.github.com/repos/microsoft/tyger/pulls" | jq -r .[].number)

          for pr in "${active_prs[@]}"; do
              echo "Found active PR $pr"
          done

          prefix='tyger-gpr'
          resource_groups=$(az group list --query "[?starts_with(name, '${prefix}')]" | jq ".[] | select(.name | test(\"^${prefix}[0-9]+$\")) | .name" -r)

          for rg_name in $resource_groups; do
              deployed_id="${rg_name#"$prefix"}"

              if [[ ! " ${active_prs[*]} " =~ ${deployed_id} ]]; then
                  echo "deleting $rg_name"
                  TYGER_ENVIRONMENT_NAME="$rg_name" make remove-environment
              else
                  echo "Not deleting $rg_name because there is an active PR for it"
              fi
          done
